@model QLNS.Models.NhanVien

@{
    ViewData["Title"] = "Details";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

<h1>Details</h1>
$.ajax({
    type: "GET",
    url: "/NhanViens/ViewAttendances",
    data: { maNV: 'NV0001' },
    dataType: "json",
    success: function (response) {
        console.log(response);
    },
    error: function () {
        alert("Error");
    }
});
<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNganh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaBac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaBac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeSoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeSoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuCap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaChucVu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPB)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNV">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <button onclick="loadAttendances('@Model.MaNV')">Xem chấm công</button>
</div>
